<footer class="bg-dark text-white">
    <div class="container py-2">
        <div class="row">
            <div class="col-md-4">
                <h5>Información de contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i> Dirección de la sucursal</li><br>
                    <li><i class="fa fa-phone"></i> Teléfono: 123-456-7890</li><br>
                    <li><i class="fa fa-envelope"></i> Correo electrónico: info@sucursal.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><i class="fa fa-clock-o"></i> Horarios de atención al cliente:
                        <ul>
                            <li>Lunes a Viernes: 8am - 8pm</li>
                            <li>Sábados: 9am - 6pm</li>
                            <li>Domingos: 9am - 6pm</li>
                        </ul><br>
                        <li><i class="fa fa-clock-o"></i> Horarios de atención al cliente en sucursal:
                            <ul>
                                <li>Lunes a Viernes: 8am - 6pm</li>
                                <li>Sábados: 9am - 2pm</li>
                                <li>Domingos: Cerrado</li>
                            </ul>
                        </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>